<h1>users Component</h1>
<div>
  <label>User name</label>
  <!-- <input type="text" class="form-control" (input)="onUpdateUSer($event)"> -->
  <input type="text" clas="form-control" [(ngModel)]="userName">
</div>
<div>{{userName }}</div>
<button 
class="btn btn-primary" 
[disabled]="!allowNewUser" 
(click)="onChangeUserStatus()">Add User</button>
<!-- <div>{{ changeUserStatus }}</div>
<div>{{allowNewUser }}</div> -->
<!-- <div [innerText]="allowNewUser"></div> -->
<div *ngIf="isUserCreated; else nouser">user is created and the user is  {{userName }}</div>
<ng-template #nouser>
  <div>No user created....</div>
</ng-template>
<app-user></app-user>
<app-user></app-user>
<app-user></app-user>
